/* Theme used on the about page/window, extends element's theme-chalk */
@import "element/common/var.scss";
@import '~element-ui/packages/theme-chalk/src/reset';
@import "~element-ui/packages/theme-chalk/src/base";

body {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    -webkit-app-region: drag;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
        margin: 0.5rem 0;
    }
}

#logo {
    width: 128px;
}

#info {
    text-align: center;
}

#title,
#app-version {
    margin: 0;
}

#title {
    font-size: 22px;
    line-height: 22px;
    padding: 0 4rem;
}

.versions,
#thirdparty-licenses {
    color: #989898;
}

#app-version {
    font-size: 1rem;
}

#lib-versions tr td:first-child {
    padding-right: 1em;
}

#links {
    padding: 0;
    list-style: none;
}

#links li {
    display: inline-block;
    margin-right: 0.5em;
}

#links li:last-child {
    margin-right: 0;
}

#thirdparty-licenses {
    font-size: 0.85em;
}
