 {
    "instrument": false,
    "sourceMap": false,
    "reporter": [
        "lcov",
        "text",
        "text-summary"
    ],
    "exclude": [
      "src/**/*.spec.js",
      "__mocks__/"
    ]
}
