{
	"all": true,
    "reporter": [
        "lcov",
        "text",
        "text-summary"
    ],
    "include": [
    	"src/**/*.js"
    ],
    "exclude": [
		"src/**/*.spec.js",
		"test/*.js"
    ]
}
